#root {
    min-height: 100%;
    background-image: none;
    background-image: url('../../assets/bg-first-quest.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
 }